NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
APP_URL=
RESEND_API_KEY=
NOTIFICATION_FROM_EMAIL=Resonate Marriage Ministry <notifications@auth.resonatemovement.org>
NOTIFICATION_REPLY_TO_EMAIL=communications@resonatemovement.org
# Use an HTTPS URL for physical-device in-page camera testing.
HANDOFF_APP_URL=
CRON_SECRET=
TEST_INVITATION_EMAIL_1=
TEST_INVITATION_EMAIL_2=

TEST_SUPER_ADMIN_EMAIL=
TEST_SUPER_ADMIN_PASSWORD=
TEST_ADMIN_EMAIL=
TEST_ADMIN_PASSWORD=
TEST_COACH_EMAIL=
TEST_COACH_PASSWORD=
TEST_COACH_2_EMAIL=
TEST_COACH_2_PASSWORD=
TEST_COACH_3_EMAIL=
TEST_COACH_3_PASSWORD=
TEST_COUNSELOR_EMAIL=
TEST_COUNSELOR_PASSWORD=
TEST_COUNSELOR_2_EMAIL=
TEST_COUNSELOR_2_PASSWORD=
TEST_COUPLE_1_EMAIL=
TEST_COUPLE_1_PASSWORD=
TEST_COUPLE_2_EMAIL=
TEST_COUPLE_2_PASSWORD=
TEST_AUTHOR_EMAIL=
TEST_AUTHOR_PASSWORD=
TEST_MULTIROLE_EMAIL=
TEST_MULTIROLE_PASSWORD=
TEST_CAMPUS_LEAD_EMAIL=
TEST_CAMPUS_LEAD_PASSWORD=
TEST_CAMPUS_LEAD_2_EMAIL=
TEST_CAMPUS_LEAD_2_PASSWORD=
