NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

TEST_SUPER_ADMIN_EMAIL=
TEST_SUPER_ADMIN_PASSWORD=
TEST_ADMIN_EMAIL=
TEST_ADMIN_PASSWORD=
TEST_COACH_EMAIL=
TEST_COACH_PASSWORD=
TEST_COUNSELOR_EMAIL=
TEST_COUNSELOR_PASSWORD=
TEST_COUPLE_1_EMAIL=
TEST_COUPLE_1_PASSWORD=
TEST_COUPLE_2_EMAIL=
TEST_COUPLE_2_PASSWORD=
TEST_AUTHOR_EMAIL=
TEST_AUTHOR_PASSWORD=
TEST_MULTIROLE_EMAIL=
TEST_MULTIROLE_PASSWORD=
